/*

font-family: 'Montserrat', sans-serif;

*/



@font-face {

	font-family: 'Dilema';

	src: url('../fonts/dilema.eot');

	src: local('☺'), url('../fonts/dilema.woff') format('woff'), 

	url('../fonts/dilema.ttf') format('truetype'), 

	url('../fonts/dilema.svg') format('svg');

	font-weight: normal;

	font-style: normal;

}





@font-face {

	font-family: 'GothamBold';

	src: url('../fonts/gotham-bold.eot');

	src: local('☺'), url('../fonts/gotham-bold.woff') format('woff'), 

	url('../fonts/gotham-bold.ttf') format('truetype'), 

	url('../fonts/gotham-bold.svg') format('svg');

	font-weight: normal;

	font-style: normal;

}

@font-face {

	font-family: 'BpgSans';

	src: url('../fonts/bpg_phone_sans.eot');

	src: local('☺'), url('../fonts/bpg_phone_sans.woff') format('woff'), 

	url('../fonts/bpg_phone_sans.ttf') format('truetype'), 

	url('../fonts/bpg_phone_sans.svg') format('svg');

	font-weight: normal;

	font-style: normal;

}







@font-face {

	font-family: 'NotoBold';

	src: url('../fonts/NotoSansGeorgian-Bold.eot');

	src: local('☺'), url('../fonts/NotoSansGeorgian-Bold.woff') format('woff'), 

	url('../fonts/NotoSansGeorgian-Bold.ttf') format('truetype'), 

	url('../fonts/NotoSansGeorgian-Bold.svg') format('svg');

	font-weight: normal;

	font-style: normal;

}

@font-face {

	font-family: 'NotoRegular';

	src: url('../fonts/NotoSansGeorgian-Regular.eot');

	src: local('☺'), url('../fonts/NotoSansGeorgian-Regular.woff') format('woff'), 

	url('../fonts/NotoSansGeorgian-Regular.ttf') format('truetype'), 

	url('../fonts/NotoSansGeorgian-Regular.svg') format('svg');

	font-weight: normal;

	font-style: normal;

}



@font-face {

	font-family: 'nasalization';

	src: url('../fonts/nasalization rg.eot');

	src: local('☺'), url('../fonts/nasalization rg.woff') format('woff'), 

	url('../fonts/nasalization rg.ttf') format('truetype'), 

	url('../fonts/nasalization rg.svg') format('svg');

	font-weight: normal;

	font-style: normal;

}



@font-face {

	font-family: 'arc_bold';

	src: url('../fonts/archyedt-bold.eot');

	src: local('☺'), url('../fonts/archyedt-bold.woff') format('woff'), 

	url('../fonts/archyedt-bold.ttf') format('truetype'), 

	url('../fonts/archyedt-bold.svg') format('svg');

	font-weight: normal;

	font-style: normal;

}



@font-face {

	font-family: 'arc_regular';

	src: url('../fonts/ar-archy-regular.eot');

	src: local('☺'), url('../fonts/ar-archy-regular.woff') format('woff'), 

	url('../fonts/ar-archy-regular.ttf') format('truetype'), 

	url('../fonts/ar-archy-regular.svg') format('svg');

	font-weight: normal;

	font-style: normal;

}



@font-face {

	font-family: 'Conv_bpg_gel';

	src: url('../fonts/bpg_gel.eot');

	src: local('☺'), url('../fonts/bpg_gel.woff') format('woff'), 

	url('../fonts/bpg_gel.ttf') format('truetype'),

	 url('../fonts/bpg_gel.svg') format('svg');

	font-weight: normal;

	font-style: normal;

}



@font-face {

	font-family: 'myriad';

	src: url('../fonts/MyriadPro-Regular.eot');

	src: local('☺'), url('../fonts/MyriadPro-Regular.woff') format('woff'), 

	url('../fonts/MyriadPro-Regular.ttf') format('truetype'), 

	url('../fonts/MyriadPro-Regular.svg') format('svg');

	font-weight: normal;

	font-style: normal;

}

@font-face {
	font-family: 'BpgBook';
	src: url('../fonts/bpg_nino_mtavruli_book.eot');
	src: local('☺'), 
	url('../fonts/bpg_nino_mtavruli_book.woff') format('woff'), 
	url('../fonts/bpg_nino_mtavruli_book.ttf') format('truetype'), 
	url('../fonts/bpg_nino_mtavruli_book.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Mtavruli';
	src: url('../fonts/BPG_ExtraSquare_Mtavruli.eot');
	src: local('☺'), url('../fonts/BPG_ExtraSquare_Mtavruli.woff') format('woff'), 
	url('../fonts/BPG_ExtraSquare_Mtavruli.ttf') format('truetype'), 
	url('../fonts/BPG_ExtraSquare_Mtavruli.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


/** Generated by FG **/
@font-face {
	font-family: 'bpg_nino';
	src: url('../fonts/bpg_nino_mtavruli_bold.eot');
	src: local('☺'), url('../fonts/bpg_nino_mtavruli_bold.woff') format('woff'), 
	url('../fonts/bpg_nino_mtavruli_bold.ttf') format('truetype'), 
	url('../fonts/bpg_nino_mtavruli_bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}




* {outline:none !important}



html,body {

	background:#f1efee;

	overflow-x:hidden !important;
	height: 100%;

}





.fp-tableCell {vertical-align: top; display: inline-block;}

#fullpage {margin-top:0 !important;}

.section {padding:0;}
section {background-size:100% 100% !important;}


/* HEADER */

#Header {
	height:115px;
	background:#fff;
	position:fixed;
	top:0;
	z-index:999;
	width:100%;  

}

#Header:after {
	content: '';
    background: url(../img/header_after.png);
    background-size: auto 11px;
    height: 11px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -8px;
    z-index: 99999999999;
}
#Header .logo {margin-top:-5px;}
#Header .logo a{

	display:block;
	margin-top:15px;

}

#Header .logo img {

	height:95px;

}
.HeaderDiv {
	line-height:100px;
	position: relative;
	display:inline-block;
	padding-right:130px;
}
.HeaderTel {
	display: inline-block;
    font-family: nasalization;
    color: #feca30;
    background: url(../img/tel.png) no-repeat;
    background-position: 10px;
    padding-left: 35px;
    font-size: 15px;
    position: absolute;
    z-index: 99999999999;
    right: 0;
    top: -24px;

}


.HeaderCalcCur {
    background: #feca30;
    width: 96px;
    position: absolute;
    right: -124px;
    top: 0;
    height: 109px;
    background-position: 122px 85px;
    z-index: 99999999999;
    line-height: 20px;
}
.HeaderCalcCur .CalcIcon {
	width:100%;
	background:url('../img/calc.png') no-repeat center center;
	height:50%;
	background-size:18px 23px;
}
.HeaderCalcCur .Currency {
    width: 100%;
    background: url(../img/licon.png) no-repeat center center;
    height: 50%;
    background-size: 18px 23px;
    position: relative;
    background-position: 39px 7px;
    position:relative;
}
.CurrencyContent {
	display:inline-block;
	width:100%;
	text-align:left;
}

.CurrencyContent .text-left {
	display:inline-block; 
	color:#133056;
	font-weight:bold;
	font-size:14px;
}
.CurrencyContent .text-left img {
	margin-right:10px;
	height: 21px;
    width: 38px;
}

.CurrencyContent .pull-right {
	display:inline-block; 
	color:#133056;
	font-weight:bold;
	font-size:15px;
}
.CurrencyItemDiv {
	margin-bottom:27px;
	position:relative;
}
.CurrentRefresh {
	width:29px;
	height:29px;
	background:url('../img/refresh.png') no-repeat;
	background-size:100% 100%;
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-14.5px;
	margin-left:3.5px;
	cursor:pointer;
}
.CurrentRefresh:hover {
	opacity:0.7
}
.HeaderCalcCur .Currency:after {
	content: '';
    position: absolute;
    bottom: -2px;
    left: 0px;
    background: url(../img/hd1.png);
    background-size: auto 10px;
    width: 100%;
    height: 10px;
    z-index: 99;
    background-position: 102px;
}

.CurrencyDiv {
	position:absolute;
	background:#fff;
	width:202px; 
	top:115px;
	right:0;
	z-index:999999;
}
.CurrencyDiv .TitleDiv {
	font-family:bpg_nino;
	font-size:24px;
	color:#133056;
	font-weight:bold !important;
	width:100%;
	text-align:center;
	padding-top:22px;
	margin-bottom:30px;
}





#CalculatorPopup {width:660px;}





.AuthorizationButton,

a.AuthorizationButton {

	border:solid #2853a9 1px;

	font-family:NotoBold;

	display: inline-block;

	color:#133056;

	font-size:14px;

	height:40px;

	line-height:40px;

	padding:0 15px 0 40px;

	cursor:pointer;

	background:#fff url('../img/login_ic.png') no-repeat;

	background-position:15px;

	text-decoration:none



}



.HeaderMenu {
	display:inline-block;
	position:relative;
	padding-top: 28px;
}

.HeaderMenu li {

	list-style:none;

	display:inline-block;

}

.HeaderMenu li a {
	font-family:NotoRegular;
	color:#133056;
	font-size:13px;
	padding-right:35px;
    letter-spacing: 0.5px;
    text-decoration:none;
    background:url('../img/menu_li.png') no-repeat;
    background-size:9px 9px;
	background-position:90%;
}
.HeaderMenu li.active a {
	font-family:NotoBold;
}
.HeaderMenu li:nth-child(3) a{
	background:none;
	padding:0;
}



 
.HeaderMenu li a.active{
	border-bottom:solid #ffd200 2px;
	text-decoration:none;
	font-family:NotoBold
}







/* AUTHORIZATION */
.AuthorizationPopup {
	width:380px;
}





/* APPLICATION POPUP */

.ApplicationModal {

	width:1070px;

}

.ApplicationFooterText {

	color:#9e9e9e;

    font-family: NotoRegular;

    margin-top:-15px;

}

.ApplicationFooterText a {

	color:#feca30;

}

label.TitleLabel{

	font-family:bpg_nino !important;

	color:#133056;

	font-size:27px !important;
	font-weight:bold !important;

}

.LoansCountDiv {

	color:#133056;

	font-size:24px !important;

}

.LoansCountDiv span {

	font-family:nasalization

}

.LoansCountDiv strong {

	font-family:Conv_bpg_gel;

}

.LoansCountDiv b {

	font-weight:normal;

	font-family:arc_regular;

}











/* HOME PAGE */
#HomePage {
	position:relative;
}


.bxslider {
	width:100%;
	height:100%; 
}

.bxslider li {
	width:100%;
	height:100%;
	position:relative; 
}
.bxslider li.bx-clone {display:none !important;}

.bxslider li:after {
	content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
}
.bxslider li img {
	height:100%;
	width:100%; 
	display:inline-table;
}
.bxslider li a {
	display:inline;
}
@media (min-width:992px) { 

		#HomeMenu { 
			z-index:99;
			text-align:right;
		}
		#HomeMenu a {
			color:#fff;
			font-family:bpg_nino;
			font-size:20px;
			letter-spacing:0.5px;
			text-decoration:none;
			display:block;
			padding:5px 5px 0px 5px;
			margin-bottom:15px;
			display:inline-block;
		}
		#HomeMenu a.active {
			background:#feca30;
			color:#133056;
		}
}
.bx-viewport, .bx-wrapper{
    position:relative;
    width:100%;
    height:100% !important;
    top:0;
    left:0;
}
.bx-controls {display:none;}

.bxslider, .bxslider li{
    height: 100% !important;;
}
.bxslider li{
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}
.bx-wrapper .bx-viewport{
    border: none !important;
}

 


.section:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background: rgba(19,48,86, 0.7);
}

.SliderContent {
	padding-top:170px;
	padding-right:110px;
	position:relative;
	z-index:2;
}
.SliderContent .container {
	text-align:right;
	position:relative;
	z-index:2;
}
.SliderContent .Title {
    font-family: BpgBook;
    color: #fff;
    font-size: 54px;
    position: relative;
    text-align: right;
}
.SliderContent .Title:after {
	content:'';
	width:90px;
	height:8px;
	position:absolute;
	right:0;
	bottom:-15px;
	background:#feca30;
}
.SliderContent .SlideNumber {
    content: '';
    width: 80px;
    height: 80px;
    line-height: 80px;
    position: absolute;
    left: 450px;
    top:180px;
    border: solid #feca30 1px;
    text-align: center;
    font-family: nasalization;
    font-size: 40px;
    color:#fff;
}
.SliderContent .Content {
	color:#fff;
	font-family:NotoRegular;
	padding-top:35px;
	letter-spacing:0.5px;
	line-height:30px;
	font-size:18px;
	margin-bottom:65px;
	text-align:right;  
}
.SliderContent .Content span {font-family: myriad}
.SliderContent .BlueButton {float:right;}










/* ABOUT PAGE */
.fp-viewing-About #HomeMenu{display:none;}
#AboutPage {
	background:url('../img/about_bg.png') no-repeat center;
	background-size:auto 100%;
	position:relative;
	padding-top:170px;
	width:100%;
	display:inline-block;
	height:100%;	
}
#AboutPage:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
}
#AboutPage .container-fluid {
	text-align:right;
	position:relative;
	z-index:2;
	padding-right:110px;
	padding-left:300px;
}
#AboutPage .ABoutTitle {
	font-family:BpgBook;
	color:#fff;
	font-size:54px;
	position:relative;
}
#AboutPage .ABoutTitle:after {
	content:'';
	width:90px;
	height:8px;
	position:absolute;
	right:0;
	bottom:-15px;
	background:#feca30;
}
#AboutPage .ABoutTitle:before {
	content:'';
	width:80px;
	height:80px;
	position:absolute;
	right:780px;
	top:-10px; 
	border:solid #feca30 1px;
	background:url('../img/circle.png') no-repeat center center;
}
#AboutPage .AboutContent {
	color:#fff;
	font-family:NotoRegular;
	padding-top:35px;
	letter-spacing:0.5px;
	line-height:24px;
	font-size:15px;
	margin-bottom:50px;
}





/* CONTACT PAGE */
.fp-viewing-Contact #HomeMenu{display:none;}
#ContactPage {
	background:url('../img/contactbg.png') no-repeat center;
	background-size:auto 100%;
	position:relative;
	padding-top:170px;	
	color:#fff;
	width:100%;
	display:inline-block;
	height:100%;		
}
#ContactPage:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
}
#ContactPage .container-fluid {
	text-align:right;
	position:relative;
	z-index:2;
}
#ContactPage .ContactTitle {
	font-family:BpgBook;
	color:#fff;
	font-size:54px;
	position:relative;
	padding-right:110px;
}


#ContactPage .COntactContent {
	padding-top:35px;
}

#ContactPage .ContactList {
	position:relative;
	margin-bottom:50px;
	padding-right:110px;
}
#ContactPage .ContactList li{
	list-style:none;
	font-family:NotoRegular;
	margin-bottom:4px;
	font-size:16px;
}
#ContactPage .ContactList:after {
	content:'';
	width:90px;
	height:8px;
	position:absolute;
	right:110px;
	top:-30px;
	background:#feca30;
} 
#ContactPage .ContactList li.Myriad { 
	font-family:myriad;
}
.ContactGoogleMap {
	border:solid #feca30 15px;
    margin-top: -29px;
    position: relative;
}

.ContactGoogleMap #map {width:100%; height:280px;} 








.BlueButton {
	height:32px;
	line-height:39px;
	border-radius:5px;
	color:#fff;
	font-family:BpgBook;
	font-weight:bold; 
	display:inline-block;
	font-size:22px;
	padding:0 40px 0 10px;
	background:#133056 url('../img/btn_arrow.png') no-repeat right;
	background-size:18px 19px;
	background-position:calc(100% - 10px);
	cursor:pointer;
}



/***********************************************************************************/

.text-right {text-align:right;}

.padding_0 {padding:0 !important;}



.modal {

	border:solid #fdca30 14px;

	max-height:500%;
	border-radius:0 !important;

}

.modal h4 {

	font-family:arc_regular;

	color:#212121;

	font-size:32px;

}





.form-group {

	margin-bottom:0

}

.form-group input,

.form-group .select-wrapper {

	height:40px;

	font-size:13px;

	color:#555;

	font-family:BpgSans;

}

.form-group label {

	font-size:13px;

	font-family:NotoRegular;

	display: inline-table;

}







.ButtonOrange {
	height:40px;
	line-height:40px; 
	background:#ffca30;
	text-align:center;
	font-family:NotoRegular;
	color:#fff;
	font-size:16px;
	cursor: pointer;
	padding:0 100px;
	border-radius:2px;
	box-shadow:0 2px 4px #ccc;
}

.modal-content {position:relative;}

.modal-close {
	position:absolute;
	width:25px;
	height:25px;
	right:10px;
	top:10px;
	background:url('../img/x.png');
	background-size:100% 100%;
	z-index:99;
}





.dropdown-content li > a, .dropdown-content li > span {

	color:#feca30;

	font-size:13px;

}


.select-wrapper span.caret {
	font-size:13px;
	width:12px;
	height:7px;
	background:url('../img/arrow.png') no-repeat;
	background-size:100% 100%;
	border:none;

}






















 @media only screen and (max-width:992px) {



.navigation {

  background: #fff;
  width: 100%;
  height: 100%;
  display: block;
  position: fixed;
  z-index:99; 
  left:0%;
  top:0px;
  transition: 0.5s linear;
  margin: 0;
  border: 0;
  border-radius: 0;
  overflow-y: auto;
  overflow-x: hidden;
  visibility:hidden;

}




.nav_bg {
	line-height: 20px;
	position: absolute;
	top: -41px;
	right:12px;
}



.nav_bar {

  display: inline-block;

  vertical-align: middle;

  cursor: pointer;

  margin: 0;

 /* border:solid #feca30 2px; */

  border-radius:3px;

}



.nav_bar span {

  height: 4px;

  background: #133056;

  margin: 5px;

  display: block;

  width: 36px;

}



.nav_bar span:nth-child(2) { width: 36px; }
.nav_bar span:nth-child(3) { width: 36px; }
.navigation li:first-child:hover a { border-radius: 0; }
.navigation li ul.dropdown { position: relative; }







 



.navigation li:hover .arrow-down { border-top: 5px solid #fff; }



.arrow-down {

  border-top: 5px solid #505050;

  position: absolute;

  top: 20px;

  right: 10px;

}

}

















 @media only screen and (max-width:1199px) {
 	.container { width: 96%; }
}

/* Global Button Styles */

a.animated-button:link, a.animated-button:visited {

	position: relative;

	display: block;

	margin: 30px auto 0;

	padding: 14px 15px;

	color: #fff;

	font-size:14px;

	font-weight: bold;

	text-align: center;

	text-decoration: none;

	text-transform: uppercase;

	overflow: hidden;

	letter-spacing: .08em;

	border-radius: 0;

	text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);

	-webkit-transition: all 1s ease;

	-moz-transition: all 1s ease;

	-o-transition: all 1s ease;

	transition: all 1s ease;

}

a.animated-button:link:after, a.animated-button:visited:after {

	content: "";

	position: absolute;

	height: 0%;

	left: 50%;

	top: 50%;

	width: 150%;

	z-index: -1;

	-webkit-transition: all 0.75s ease 0s;

	-moz-transition: all 0.75s ease 0s;

	-o-transition: all 0.75s ease 0s;

	transition: all 0.75s ease 0s;

}

a.animated-button:link:hover, a.animated-button:visited:hover {

	color: #FFF;

	text-shadow: none;

}

a.animated-button:link:hover:after, a.animated-button:visited:hover:after {

	height: 450%;

}

a.animated-button:link, a.animated-button:visited {

	position: relative;

	display: block;

	margin: 30px auto 0;

	padding: 14px 15px;

	color: #fff;

	font-size:14px;

	border-radius: 0;

	font-weight: bold;

	text-align: center;

	text-decoration: none;

	text-transform: uppercase;

	overflow: hidden;

	letter-spacing: .08em;

	text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);

	-webkit-transition: all 1s ease;

	-moz-transition: all 1s ease;

	-o-transition: all 1s ease;

	transition: all 1s ease;

}



/* Victoria Buttons */



a.animated-button.victoria-one {

	border: 2px solid #feca30;

}

a.animated-button.victoria-one:after {

	background: #feca30;

	-moz-transform: translateX(-50%) translateY(-50%) rotate(-25deg);

	-ms-transform: translateX(-50%) translateY(-50%) rotate(-25deg);

	-webkit-transform: translateX(-50%) translateY(-50%) rotate(-25deg);

	transform: translateX(-50%) translateY(-50%) rotate(-25deg);

}

a.animated-button.victoria-two {

	border: 2px solid #112f57;

}

a.animated-button.victoria-two:after {

	background: #112f57;

	-moz-transform: translateX(-50%) translateY(-50%) rotate(25deg);

	-ms-transform: translateX(-50%) translateY(-50%) rotate(25deg);

	-webkit-transform: translateX(-50%) translateY(-50%) rotate(25deg);

	transform: translateX(-50%) translateY(-50%) rotate(25deg);

}

 





.input-field label {

	width:100%;

	display:block;

} 
.select-wrapper input.select-dropdown {
	height:40px;
}
.modal .modal-content {
	padding-bottom:0;
	padding-top:10px;
}
span.SpanText {
	font-family:NotoRegular;
	color:#c5c5c5;
	font-weight:normal;
	width:100%;
	display:inline-block;
	margin-bottom:5px;
}











.c-hamburger {
    display: block;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 96px;
    height: 96px;
    font-size: 0;
    text-indent: -9999px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    border: none;
    cursor: pointer;
    -webkit-transition: background .3s;
    transition: background .3s
}

.c-hamburger:focus {
    outline: 0
}

.c-hamburger span {
    display: block;
    position: absolute;
    top: 39px;
    left: 18px;
    right: 18px;
    height: 4px;
    width:51px;
    background: #fff
}

.c-hamburger span::after,
.c-hamburger span::before {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #fff;
    content: ""
}

.c-hamburger--htx {
 
}

.c-hamburger--htx span {
    -webkit-transition: background 0s .3s;
    transition: background 0s .3s;
    line-height: 15px;
}

.c-hamburger--htx span::after,
.c-hamburger--htx span::before {
    -webkit-transition-duration: .3s, .3s;
    transition-duration: .3s, .3s;
    -webkit-transition-delay: .3s, 0s;
    transition-delay: .3s, 0s
}
.c-hamburger--htx span::before {
	top:-15px;
}
.c-hamburger--htx span::before {
    -webkit-transition-property: top, -webkit-transform;
    transition-property: top, transform;
}

.c-hamburger--htx span::after {
    -webkit-transition-property: bottom, -webkit-transform;
    transition-property: bottom, transform
}

.c-hamburger--htx.is-active {
     
}

.c-hamburger--htx.is-active span {
    background: 0 0
}

.c-hamburger--htx.is-active span::before {
    top: 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg)
}

.c-hamburger--htx.is-active span::after {
    bottom: 0;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.c-hamburger--htx.is-active span::after,
.c-hamburger--htx.is-active span::before {
    -webkit-transition-delay: 0s, .3s;
    transition-delay: 0s, .3s
}








 



.bx-wrapper {width: 100% !important; height: 100% !important;}












 